<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.github.rightson.open-llm-router</string>
    <key>ProgramArguments</key>
    <array>
        <string>{{WORKING_DIR}}/launchDaemon.sh</string>
    </array>
    <key>WorkingDirectory</key>
    <string>{{WORKING_DIR}}</string>
    <key>UserName</key>
    <string>{{USER}}</string>
    <key>RunAtLoad</key>
    <true/>
    <key>KeepAlive</key>
    <true/>
    <key>StandardOutPath</key>
    <string>{{LOG_PATH}}</string>
    <key>StandardErrorPath</key>
    <string>{{ERROR_LOG_PATH}}</string>
    <key>EnvironmentVariables</key>
    <dict>
        <key>PATH</key>
        <string>/opt/homebrew/bin:/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin</string>
        <key>PYTHONPATH</key>
        <string>{{WORKING_DIR}}</string>
    </dict>
</dict>
</plist>
